*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
example-packages/AndrewWIDE/AndrewWIDE.zip
example-packages/ArchOnAndroid/ArchOnAndroid.zip
example-packages/BusyboxHTTPD/BusyboxHTTPD.zip
app/src/main/java/uk/co/rogerstech/servalot/*.class

